{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off",
        "sort-keys": "off",
        "require-unicode-regexp": "off",
        "prefer-named-capture-group": "off",
        "max-len": [
            1,
            120,
            2,
            {
                "ignoreComments": true
            }
        ]
    },
    "extends": [
        "eslint:all",
        "plugin:react/all"
    ]
}